<!DOCTYPE html>
<html lang="en">
<head xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>World Dates</title>
    <link rel="stylesheet" href="../style.css?version=50" type="text/css">
</head>
<body>
<div class="mainContainer">
    <div class="title">
        <div class="titleText">World Dates</div>
    </div>
    <div class="content">
        <tr>
            Page can not be loaded! <br>
            Check config file <br>
            Or enter url "localhost:8080/zone" instead
        </tr>
    </div>
    <div class="footer">
        <div class="footerDetails">
            Patryk Januszewski <br>
            git: <a href="https://github.com/januszewskijanuszek">januszewskijanuszek</a>
        </div>
    </div>
</div>
</body>
</html>